[Desktop Entry]
Name=S.T.A.L.K.E.R. Save Editor
Comment=Save editor and live game companion for S.T.A.L.K.E.R. trilogy and S.T.A.L.K.E.R. 2
Exec=stalker-save-editor %f
Icon=stalker-save-editor
Terminal=false
Type=Application
Categories=Game;Utility;
Keywords=stalker;save;editor;xray;cop;soc;cs;stalker2;
StartupWMClass=StalkerSaveEditor
